.header-input{
    display: grid;
    grid-template-rows: 30% 40% 40%;

    width: 50%;
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.323);
    align-items: center;
    border: 1px inset #e0d5b7;
    margin: 30px;
    
    position: relative;
}

button{
    width: 50px;
    position: absolute;
    bottom: 10%;
    right: 3%;
}

.catch-note-label{
    position: absolute;
    top: 10%;
    right: 2%;

}

.lables-container{
    width: 100%;
}


